{% extends "base.html" %}

{% block content %}
<section class="features">
<div class="container">
   <div class="row">
      <div class="col-md-12">
        <h3>Uredi izlet</h3>
        <hr>
        <p>Slika profila:</p>
        <form action = "{{url_for('slika_izleta', id=id)}}" method = "POST" enctype = "multipart/form-data">
                    <input type = "file" name = "slikai" />
                    <input class="btn btn-primary" type = "submit"/>
                  </form>
                  <br>
        <br>
        <form action="{{url_for('edit_izlet',id=id)}}" method="POST"id="dodajizlet" novalidate>
          {{ form.hidden_tag() }}
          <div class="control-group form-group">
            <div class="controls">
                {{ form.naziv.label }}<br>
                {{ form.naziv(class="form-control",id="ime") }}<br>
                {% for error in form.naziv.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
                {{ form.lokacija.label }}<br>
                {{ form.lokacija(class="form-control",id="ime") }}<br>
                {% for error in form.lokacija.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
                {{ form.opis.label }}<br>
                {{ form.opis(class="form-control",id="ime") }}<br>
                {% for error in form.opis.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
                {{ form.datum_polaska.label }}<br>
                {{ form.datum_polaska(class="form-control",id="ime") }}<br>
                {% for error in form.datum_polaska.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
                {{ form.datum_povratka.label }}<br>
                {{ form.datum_povratka(class="form-control",id="ime") }}<br>
                {% for error in form.datum_povratka.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
                {{ form.cijena.label }}<br>
                {{ form.cijena(rows="10", cols="100", class="form-control", id="omeni", maxlength="999" ,style="resize:none") }}<br>
                {% for error in form.cijena.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
          </div>

          <div id="success"></div>
          <!-- For success/fail messages -->
          <p>{{ form.submit(class="btn btn-primary",id="sendMessageButton") }}</p>
        </form>

      </div>
      </div>
      </div>
   </section>
<!-- Footer -->
<footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Sva prava pridržana  &copy; Izleti.hr 2019</p>
    </div>
 </footer>
{% endblock %}