{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <h1>File Input</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="inputFile">File input</label>
        <input type="file" name="inputFile">
    
        <input type="submit" name="">
    </form>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.ime.label }}<br>
            {{ form.ime(size=32) }}<br>
            {% for error in form.ime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.prezime.label }}<br>
            {{ form.prezime(size=32) }}<br>
            {% for error in form.prezime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.datum_rodjenja.label }}<br>
            {{ form.datum_rodjenja(size=32) }}<br>
            {% for error in form.datum_rodjenja.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.broj_telefona.label }}<br>
            {{ form.broj_telefona(size=32) }}<br>
            {% for error in form.broj_telefona.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.o_meni.label }}<br>
            {{ form.o_meni(size=32) }}<br>
            {% for error in form.o_meni.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}