
{% extends "base.html" %}

{% block content %}

<section class="features">
<div class="container">
<div class="container">
<div class="row">


		{% for f in frends %}
		
			<div class="col-sm-4">
			<div class="korisnik">
			<a href="{{ url_for('user', username=f.username) }}"> 
				{% if f.profilna_slika %}

    			<img src="{{ url_for('static', filename='img/' + f.profilna_slika) }}" class="img-fluid" >
    
    			{% else %}

    			<img src="{{ url_for('static', filename='img/f.jpg') }}" class="img-fluid">

    			{% endif %}

			</a>
			  <h4>{{f.ime}} {{f.prezime}}</h4>
			</div>
			</div>
		
		{% endfor %}
</div>
</div>
</div>
</section>

<footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Sva prava pridržana  &copy; Izleti.hr 2019</p>
    </div>
 </footer>

 {% endblock %}