{% extends "base.html" %}

{% block content %}
    <h1>Izlet: {{ izlet.naziv }}</h1>
    <hr>
    <h4>Promijeni sliku izleta</h4>
          <form action = "{{url_for('slika_izleta', id=izlet.id)}}" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "slikai" />
            <input type = "submit"/>
          </form>
    {% if izlet.slika_izleta %}
    <img src="{{ url_for('static', filename='img2/' + izlet.slika_izleta) }}" />
    
    {% else %}

    <img src="{{ url_for('static', filename='img2/banne.jpg') }}" />
    {% endif %}

	{{izlet.slika_izleta}}

    {% if izlet.creator_id == current_user.id %}
    <!--<p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>--><p>{{current_user.username}}, ti si vlasnik izleta.
    </p>
    {% elif not izlet.creator_id == current_user.id %}

        {% if izlet.je_sudionik(current_user)%}
        <p><a href="{{ url_for('prestani_sudionik', id=izlet.id) }}">Odjavi se sa izleta</a></p>
        {% else %}
        <p><a href="{{ url_for('postani_sudionik', id=izlet.id) }}">Prijavi se za izlet</a></p>
        {% endif %}
    
    {% endif %}
    

{% endblock %}

