{% extends "base.html" %}

{% block content %}

<section class="features">
<div class="container">
	<div class="row">


		{% for i in izleti %}
		
		<div class="col-md-4">
			<div class="feature-box">
			<div class="feature-img">
			<a href="izlet1.html"> <img src="slike/rovinj.jpg"> </a>
			<div class="price">
			<p style="font-size:12.5px;">{{i.cijena}}</p>
			</div>
			<div class="rating">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</div>
			</div>
			<div class="feature-details">
				<h4>{{i.lokacija}}</h4>
				<p>{{i.opis}}</p>
			</div>
			
			</div>
		</div>
		
		{% endfor %}
	</div>
</div>
</section>

<footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Sva prava pridržana  &copy; Izleti.hr 2019</p>
    </div>
 </footer>

 {% endblock %}