{% extends "base.html" %}

{% block content %}

<section class="features">
<div class="container">
	<div class="row">


		{% for i in izleti %}
		
		<div class="col-md-4">
			<div class="feature-box">
			<div class="feature-img">
			<a href="{{ url_for('izlet', id=i.id) }}"> 

				{% if i.slika_izleta %}

    			<img src="{{ url_for('static', filename='img2/' + i.slika_izleta) }}">
    
    			{% else %}

    			<img src="{{ url_for('static', filename='img2/banne.jpg') }}" >

    			{% endif %}

			</a>
			<div class="price">
			<p style="font-size:12.5px;">{{i.cijena}}</p>
			</div>
			<div class="rating">
				{% if i.sudionici %}
				{% for j in i.sudionici%}
				<i class="fas fa-user"></i>
				{%endfor%}
				{%else%}

				{%endif%}
			</div>
			</div>
			<div class="feature-details">
				<h4>{{i.lokacija}}</h4>
				<p>{{i.opis}}</p>
			</div>
			
			</div>
		</div>
		
		{% endfor %}
	</div>
</div>
</section>
<div class="container text-center" >

  <ul class="pagination ">
  	{% if prev_url %}
    <li class="page-item" ><a style="display: inline;" class="page-link" href="{{ prev_url }}">Prethodni</a>
	{% endif %}

	{% if next_url %}
    <a style="display: inline;"class="page-link" href="{{ next_url }}">Sljedeći</a>
    {% endif %}
    </li>
  </ul>
</div>
<footer class="py-5 bg-dark ">
    <div class="container">
      <p class="m-0 text-center text-white">Sva prava pridržana  &copy; Izleti.hr 2019</p>
    </div>
 </footer>

 {% endblock %}