{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% if user.profilna_slika %}
    <img src="{{ url_for('static', filename='img/' + user.profilna_slika) }}" />
    
    {% else %}
    <img src="{{ url_for('static', filename='img/korisnik.jpg') }}" />
    {% endif %}
    <p>{{ user.friends.count() }} prijatelja, {{ user.izleti.count() }} izleta.</p>
    {% if user == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    {% elif not current_user.is_friends(user) %}
    <p><a href="{{ url_for('befriend', username=user.username) }}">Befriend</a></p>
    {% else %}
    <p><a href="{{ url_for('unfriend', username=user.username) }}">Unfriend</a></p>
    {% endif %}
    {{user.profilna_slika}}
{% endblock %}